body {
  background-color: #373737;
}
::-moz-selection {
  background: #ee7528;
  color: white;
}
::selection {
  background: #ee7528;
  color: white;
}
.work {
  height: 100vh;
}
.logo {
  font-family: displayRegular;
  color: #f8f8f8;
  font-weight: 400;
  text-decoration: none;
  display: inline;
}
.logo:hover {
  text-decoration: none;
}
.red {
  color: #db562a;
}

.callToAction {
  border: none;
  background: rgba(219, 86, 42, 1);
  background: -moz-linear-gradient(
    -45deg,
    rgba(219, 86, 42, 1) 15%,
    rgba(219, 86, 42, 1) 32%,
    rgba(219, 86, 42, 1) 41%,
    rgba(238, 117, 40, 1) 100%
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(219, 86, 42, 1) 15%,
    rgba(219, 86, 42, 1) 32%,
    rgba(219, 86, 42, 1) 41%,
    rgba(238, 117, 40, 1) 100%
  );
  background: -o-linear-gradient(
    -45deg,
    rgba(219, 86, 42, 1) 15%,
    rgba(219, 86, 42, 1) 32%,
    rgba(219, 86, 42, 1) 41%,
    rgba(238, 117, 40, 1) 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    rgba(219, 86, 42, 1) 15%,
    rgba(219, 86, 42, 1) 32%,
    rgba(219, 86, 42, 1) 41%,
    rgba(238, 117, 40, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(219, 86, 42, 1) 15%,
    rgba(219, 86, 42, 1) 32%,
    rgba(219, 86, 42, 1) 41%,
    rgba(238, 117, 40, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db562a', endColorstr='#ee7528', GradientType=1 );
  border-radius: 30px;
  padding: 15px 25px;
  width: fit-content;
  color: #f8f8f8;
}
.callToAction:hover {
  -webkit-box-shadow: 3px 2px 13px 2px rgba(233, 122, 107, 0.69);
  -moz-box-shadow: 3px 2px 13px 2px rgba(233, 122, 107, 0.69);
  box-shadow: 3px 2px 13px 2px rgba(233, 122, 107, 0.69);
}
.fixed {
  background-image: url("../img/IM000804.JPG");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

#nav {
  transition: ease-in 0.2s;
}
.navbar {
  background-color: #37373700;
}
.nav-link:hover {
  color: #f8f8f8;
}
.mega-menu {
  background-color: #373737;
  margin-top: 0;
  border: 0;
  z-index: 1000;
}
.mega-menu:after {
  content: "";
  position: absolute;
  left: 4px;
  top: -15px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 17px 17px 17px;
  border-color: transparent transparent #464646 transparent;
  z-index: 9998;
}
.dropdown-menu {
  animation: open 0.2s;
}
@keyframes open {
  0% {
    opacity: 0%;
    top: 0px;
  }
  30% {
    opacity: 0%;
  }
  to {
    opacity: 100%;
    top: 100%;
  }
}

.navbar-nav li a {
  color: #eee;
  mix-blend-mode: difference;
}
.opacity {
  background-color: #181616d2;
  height: 100%;
}
.work-opacity {
  width: 100%;
  height: 100%;
  transition: all 250ms;
}
.work-opacity:hover {
  background-color: rgba(0, 0, 0, 0.541);
}
.see-more {
  color: #ee742800;
  transform: translateY(50px);
  transition: all 250ms;
  visibility: hidden;
}
.work-opacity:hover > .see-more {
  transform: translateY(0);
  color: #ee7528;

  visibility: visible;
}
.work-section {
  background-color: #f8f8f8;
}
.work-box {
  width: 28vw;
  background-image: url("../img/IM000804.JPG");
}
.news-section {
  background-color: #f0f0f0;
}
#video {
  min-height: 300px;
}
.video-list {
  background-color: #f2f2f2;
  border-radius: 20px;
}
.video-link {
  width: 100%;
  border-left: solid 2px #ee742800;
  border-right: solid 2px #ee742800;
}
.video-link:hover {
  border-color: #ee7528;
  cursor: pointer;
}
.video-link-img {
  width: 40%;
}
.info-box {
  position: absolute;
  z-index: 2;
  left: 10px;
  transform: translateY(35px);
  padding-bottom: 4%;
  color: white;
  background-color: #ee7528;
  border-radius: 35px 35px 35px 35px;
  -moz-border-radius: 35px 35px 35px 35px;
  -webkit-border-radius: 35px 35px 35px 35px;
  -webkit-box-shadow: 3px 4px 13px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 4px 13px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 4px 13px -1px rgba(0, 0, 0, 0.75);
}
.form-box {
  border-radius: 35px 35px 35px 35px;
  -moz-border-radius: 35px 35px 35px 35px;
  -webkit-border-radius: 35px 35px 35px 35px;
  border: 0px solid #000000;
  background-color: white;
  -webkit-box-shadow: 3px 4px 13px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 4px 13px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 4px 13px -1px rgba(0, 0, 0, 0.75);
}

.input-field {
  background-color: #e3e3e3;
  color: #909090;
  border-radius: 9px;
  padding: 5px 5px;
  border: 1px solid #ee742800;
}
#subject {
  height: 200px;
}
.input-field::placeholder {
  padding: 10px;
}
.red-border {
  border: 1px solid #ee7528;
  color: #ee7528;
}
.red-shadow {
  -webkit-box-shadow: 3px 2px 13px 2px rgba(233, 122, 107, 0.69);
  -moz-box-shadow: 3px 2px 13px 2px rgba(233, 122, 107, 0.69);
  box-shadow: 3px 2px 13px 2px rgba(233, 122, 107, 0.69);
}

.title-cont {
  border-left: solid 1px #db562a;
}

.footer-section {
  border-top: solid 1px #f2f2f2;
}
.dropdown a:hover {
  cursor: pointer;
}
a {
  color: #ee7528;
}
.fab,
.far {
  color: #f2f2f2;
}
.fab:hover,
.far:hover {
  color: #ee7528;
}
