body {
  background-color: #373737;
}
.subtitle {
  color: #bcbcbc;
}
.form-box {
  border-radius: 35px 35px 0 0;
  -moz-border-radius: 35px 35px 0 0;
  -webkit-border-radius: 35px 35px 0 0;
  background-color: #373737;
  -webkit-box-shadow: 3px 4px 13px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 4px 13px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 4px 13px -1px rgba(0, 0, 0, 0.75);
}
.navbar {
  background-color: #f8f8f8;
}
.nav-link:hover {
  color: #373737;
}
.mandolin-font {
  color: #f2f2f2f2;
}
.guitar-font {
  color: #373737;
}
.form-box a {
  color: #f2f2f2f2;
}
.form-box .subtitle {
  color: #373737;
}
.link-cont {
  height: auto;
  width: auto;
  display: grid;
  grid-gap: 0.8rem;
  grid-template-columns: repeat(2, 2fr);
  padding-bottom: 5px;
}
.link-arrangement {
  text-decoration: none;
  color: #f2f2f2f2;
}

.mega-menu {
  background-color: #f2f2f2f2;
}
.mega-menu a {
  color: #373737;
}
.mega-menu a:hover {
  color: #db562a;
}
.guitar {
  background-size: 30vw;

  background-color: #f2f2f2;
  background-position-x: 30%;
}
.guitar_svg {
  max-width: 20vw;
  margin: auto;
}
.guitar .link-arrangement {
  color: #373737;
}
.link-arrangement:hover {
  text-decoration: none;
  color: #db562a;
  transform: translateX(5px);
  transition: ease-in 0.2s;
}
.macchie_dx {
  max-width: 20vw;
  position: absolute;
}

.macchie_dx {
  z-index: -2;
  top: 0;
  right: 0;
}
.macchie_sx {
  position: absolute;
  width: 40vw;
  z-index: -2;
  left: 0;
  bottom: 0;
}
.black-border {
  border-color: #373737;
}
.footer-section a,
.fab {
  color: #db562a;
}
.reverse {
  color: #f2f2f2;
}
.black {
  color: #373737;
}
@media (min-width: 0px) {
  .macchie_sx {
    position: absolute;
    bottom: 25vw;
    width: 100vw;
  }
}
@media (min-width: 320px) {
  .macchie_sx {
    position: absolute;
    bottom: 30vw;
    width: 80vw;
  }
}
@media (min-width: 510px) {
  .macchie_sx {
    width: 50vw;
    bottom: 0;
  }
}

@media (min-width: 692px) {
  .macchie_sx {
    width: 60vw;
    bottom: -25vw;
  }
}

@media (min-width: 992px) {
  .macchie_sx {
    width: 40vw;
    bottom: -15vw;
  }
  .guitar {
    background-image: none;
  }
}
@media (min-width: 992px) {
  .macchie_sx {
    width: 40vw;
    bottom: -20vw;
  }
  .guitar {
    background-image: none;
  }
}
