body {
  background-color: #373737;
}
.form-box {
  border-radius: 35px 35px 0 0;
  -moz-border-radius: 35px 35px 0 0;
  -webkit-border-radius: 35px 35px 0 0;
  background-color: #373737;
  -webkit-box-shadow: 3px 4px 13px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 4px 13px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 4px 13px -1px rgba(0, 0, 0, 0.75);
}
.navbar {
  background-color: #f2f2f200;
}
.mandolin-font {
  color: #f2f2f2f2;
}
.guitar-font {
  color: #373737;
}
.form-box a {
  color: #f2f2f2f2;
}
.form-box .subtitle {
  color: #373737;
}
.link-cont {
  height: auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 2fr);
  padding-bottom: 5px;
}
.link-arrangement {
  text-decoration: none;
  color: #f2f2f2f2;
}
.link-arrangement:hover {
  text-decoration: none;
  color: #db562a;
}
.mega-menu {
  background-color: #f2f2f2f2;
}
.mega-menu a {
  color: #373737;
}
.mega-menu a:hover {
  color: #db562a;
}
.guitar {
  background: url("../img/chitarra.svg") center no-repeat;
  background-size: 250px;

  background-color: #f2f2f2;
  background-position-x: 30%;
}

.guitar .link-arrangement {
  color: #373737;
}
.macchie_dx,
.mandolino {
  max-width: 20vw;
  position: absolute;
}
.macchie_dx {
  top: 0;
  right: 0;
}
.macchie_sx {
  position: absolute;
  width: 80vw;
  z-index: -2;
  left: 0;
}
.black-border {
  border-color: #373737;
}
.footer-section a,
.fab {
  color: #db562a;
}
@media (max-width: 576px) {
  .macchie_sx {
    width: 150vw;
    top: 30vw;
  }
}

@media (max-width: 768px) {
  .macchie_sx {
    bottom: -15vw;
  }
}

@media (max-width: 992px) {
  .macchie_sx {
    bottom: -25vw;
  }
}
